/.idea/codeStyles/codeStyleConfig.xml
/.idea/sbt.xml
/.idea/thriftCompiler.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/connect-docker.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
